<footer style="display: none" >
    <div style="color: white" class = 'container p-2 text-center bg-info'>
        <div class = 'row'>
            <p class="m-0">DARI</p>
        </div>
        <div class = 'row'>
            <p class="m-0">Edit Footer</p>
        </div>
    </div>
</footer>